<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				  <b>Dungeons & Dragons</b>. Been playing for over two years and took the next step to running my own game as a Game Master a little over a year ago.
			  </li>
			  <li>
				  <b>3D Printing and CAD Designing</b>. Over the last year I have developed an interest 3D printing. I mainly use the technology to facilitate my Dungeons & Dragons hobby with 3D printed minature figures used as visual aids.
			  </li>
			  <li>
				  <b>Cooking</b>. I especially enjoy cooking for family and friends and receiving their feedback that I can use to improve my skills
        </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				Dungeon Master's Assistant is a simple command line interface which allows the Game Master to focus on the game and their players instead of all the math and stat tracking needed during combat.
    		</li>
  			<li>
				Kitchen Manager API is a Flask RESTful API which to interact with a database of user submitted recipes and ingredients. <!--The backend api code can be found <a her="https://github.com/CaptainOmNoms/kitchen_manager_api">here</a>--> 
  			</li>
			<li>
				Currently I am learning React in order to build a user friendly and intuitive webapp to interface with the Kitchen Manager API.
			</li>
  		    </ul>
    </div>
    </div>
  </div>
</section>
