<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
	         <b>Dungeons & Dragons</b>. Been playing for over 2 years and took the next step to running my own game as a Game Master a year ago.
			  </li>
			  <li>
				  <b>3D Printing and CAD Designing</b>. For the last year I have gotten into 3D printing. I mainly use the technology to facilitate my Dungeons & Dragons hobby with 3D printed minatures.
			  </li>
			  <li>
        <b>Cooking</b>. I especially enjoy cooking for other people and getting feedback that I can use to improve my skills
        </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Dungeon Master's Assistant is a simple command line interface which allows the Game Master to focus on the game and their players instead of all the math and stat tracking needed during combat.
    		</li>
  			<li>
          Kitchen Manager, once completed, will be an all in one recipe and ingredient databse, pantry inventory tracker, and shopping list generator. <!--The backend api code can be found <a her="https://github.com/CaptainOmNoms/kitchen_manager_api">here</a>--> 
  			</li>
  		    </ul>
    </div>
    </div>
  </div>
</section>
